.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-gradient);
    /* Usamos el fondo global del paso 1 */
}

.login-card {
    background: var(--glass-bg);
    backdrop-filter: var(--glass-blur);
    border: 1px solid var(--glass-border);
    padding: 3rem;
    border-radius: 20px;
    width: 400px;
    text-align: center;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.login-card h2 {
    color: var(--accent-pink-dark);
    margin-bottom: 0.5rem;
}

.login-card p {
    color: var(--text-muted);
    margin-bottom: 2rem;
    font-size: 0.9rem;
}

.input-group {
    text-align: left;
    margin-bottom: 1.5rem;
}

.input-group label {
    display: block;
    color: var(--text-dark);
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.input-group input {
    width: 100%;
    background: #fff;
    border: 1px solid var(--glass-border);
    padding: 12px;
    border-radius: 8px;
    color: var(--text-dark);
    outline: none;
    transition: 0.3s;
}

.input-group input:focus {
    border-color: var(--accent-pink-dark);
}

.login-btn {
    width: 100%;
    background: var(--bg-dark);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 1rem;
    transition: 0.3s;
}

.login-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(251, 191, 36, 0.3);
}