/* Archivo global de estilos */

:root {
    /* Paleta de proyecto */
    --bg-dark: #0f172a; /* Fondo oscuro profundo */
    --bg-gradient: radial-gradient(circle at top,#1e1b4b 0%, #0f172a 100%);
    --accent-gold: #fbbf24; /* Dorado vibrante */
    --text-light: #f8fafc;
    --text-muted: #94a3b8; /* Gris claro para texto secundario */

    /* Grassmorphism */
    --glass-bg: rgba(255,255,255,0.03);
    --glass-border: rgba(255,255,255,0.1);
    --glass-blur: blur(12px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif; /* Fuente moderna y legible */
}

/* El fondo */
body {
    background: var(--bg-gradient); /*evita que el fondo se mueva al scrollear*/
    color: var(--text-light);
    min-height: 100vh;
    overflow-x: hidden; /* Evita que la page vibre de lado a lado*/
}
/* Estilo para todas las barras de scroll */
::-webkit-scrollbar {
    width: 8px;
    height: 6px; /* Altura de la barra horizontal*/
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--glass-border);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent-gold);/* Se ilumina en dorado al tocarla*/
}